# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure the API Key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('..\Output_Data\Weather_Data_Collection.csv')
weather_df = weather_df.drop(columns={'Unnamed: 0'})
weather_df.head()

,City,Lattitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,chimore,-16.98,-65.13,21.93,95,83,1.47,BO,1601260540
1,yellowknife,62.46,-114.35,7.00,87,75,4.60,CA,1601260540
2,manama,26.22,50.58,32.00,59,0,1.50,BH,1601260296
3,cukai,4.25,103.42,27.00,83,40,1.50,MY,1601260341
4,sao filipe,20.51,76.21,22.99,89,16,3.53,IN,1601260541

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Obtaining the Coordinates to plot on the map
city_locations = weather_df[['Lattitude','Longitude']].astype(float)
city_locations.head()

   Lattitude  Longitude
0     -16.98     -65.13
1      62.46    -114.35
2      26.22      50.58
3       4.25     103.42
4      20.51      76.21

In [4]:
# Humidity values
humidity_data = weather_df['Humidity']
humidity_data.head()

0    95
1    87
2    59
3    83
4    89
Name: Humidity, dtype: int64

In [5]:
# Creating a Humidity Heatmap Layer
fig = gmaps.figure()

humidity_layer = gmaps.heatmap_layer(city_locations, weights=humidity_data, dissipating=False, max_intensity=100, point_radius=2)

fig.add_layer(humidity_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# The most ideal vacations involve destinations with minimal cloud cover as well as having temperatures within the range of 20-30 degrees celcius. As such, there datframe will be narrowed down further in order to find hotels within these regions that have the ideal weather. 

ideal_weather_df = weather_df.loc[
    (weather_df['Cloudiness']==0) & 
    (weather_df['Wind Speed'] <= 10) & 
    (weather_df['Max Temp'] >= 20) &
    (weather_df['Max Temp'] <= 30)].dropna()

print(f' The Number of Ideal Cities within the ideal weather criteria are {len(ideal_weather_df)}')
ideal_weather_df

 The Number of Ideal Cities within the ideal weather criteria are 31

,City,Lattitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
14,rikitea,-23.12,-134.97,23.65,78,0,4.67,PF,1601260394
32,avarua,-21.21,-159.78,24.00,69,0,5.10,CK,1601260394
39,halvad,23.02,71.18,27.25,73,0,3.77,IN,1601260346
66,wajid,3.81,43.25,23.12,78,0,6.47,SO,1601260555
69,abu dhabi,24.60,72.70,20.30,78,0,1.44,IN,1601260556
82,saint-louis,16.33,-15.00,28.00,68,0,5.80,SN,1601260548
116,manokwari,-0.87,134.08,29.43,64,0,2.52,ID,1601260306
118,hit,33.64,42.83,26.00,39,0,8.04,IQ,1601260361
123,bolpur,23.67,87.72,29.06,79,0,1.12,IN,1601260339
174,portland,45.52,-122.68,20.00,66,0,1.34,US,1601260551
195,kalmunai,7.42,81.82,28.55,71,0,2.88,LK,1601260474
219,dalbandin,28.89,64.41,25.71,15,0,1.46,PK,1601260590
220,atar,20.52,-13.05,29.86,27,0,4.38,MR,1601260590
235,sakakah,29.97,40.21,25.00,25,0,2.10,SA,1601260318
253,gat,31.61,34.76,24.44,81,0,1.24,IL,1601260361
271,tessalit,20.20,1.01,28.62,14,0,2.22,ML,1601260602
279,abnub,27.27,31.15,24.00,44,0,4.10,EG,1601260603
299,katsuura,35.13,140.30,26.67,49,0,1.34,JP,1601260608
325,hun,29.13,15.95,27.38,22,0,2.70,LY,1601260413
335,khorramshahr,30.44,48.17,27.00,51,0,3.10,IR,1601260616
361,guarapari,-20.67,-40.50,25.56,77,0,5.07,BR,1601260406
365,abu samrah,24.60,72.70,20.30,78,0,1.44,IN,1601260336
370,safaga,26.73,33.94,28.00,45,0,3.60,EG,1601260431
384,tefe,-3.35,-64.71,24.18,83,0,0.50,BR,1601260403
413,kiama,-34.68,150.87,20.00,57,0,3.58,AU,1601260413
424,parauna,-16.95,-50.45,26.09,37,0,0.48,BR,1601260639
447,tahta,26.77,31.50,25.00,31,0,3.10,EG,1601260646
467,nouadhibou,20.93,-17.03,22.00,78,0,9.30,MR,1601260380
477,sur,22.57,59.53,29.17,45,0,2.81,OM,1601260472
531,erzin,36.96,36.20,24.44,83,0,0.37,TR,1601260666
546,gwadar,25.12,62.33,27.69,76,0,2.31,PK,1601260669

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Creating a New Hotel DataFram
hotel_df = ideal_weather_df.copy().drop(columns={'Date', 'Wind Speed','Max Temp','Humidity','Cloudiness'})

hotel_df['Hotel Name'] = ""

hotel_df

             City  Lattitude  Longitude Country Hotel Name
14        rikitea     -23.12    -134.97      PF
32         avarua     -21.21    -159.78      CK
39         halvad      23.02      71.18      IN
66          wajid       3.81      43.25      SO
69      abu dhabi      24.60      72.70      IN
82    saint-louis      16.33     -15.00      SN
116     manokwari      -0.87     134.08      ID
118           hit      33.64      42.83      IQ
123        bolpur      23.67      87.72      IN
174      portland      45.52    -122.68      US
195      kalmunai       7.42      81.82      LK
219     dalbandin      28.89      64.41      PK
220          atar      20.52     -13.05      MR
235       sakakah      29.97      40.21      SA
253           gat      31.61      34.76      IL
271      tessalit      20.20       1.01      ML
279         abnub      27.27      31.15      EG
299      katsuura      35.13     140.30      JP
325           hun      29.13      15.95      LY
335  khorramshahr      30.44      48.17      IR
361     guarapari     -20.67     -40.50      BR
365    abu samrah      24.60      72.70      IN
370        safaga      26.73      33.94      EG
384          tefe      -3.35     -64.71      BR
413         kiama     -34.68     150.87      AU
424       parauna     -16.95     -50.45      BR
447         tahta      26.77      31.50      EG
467    nouadhibou      20.93     -17.03      MR
477           sur      22.57      59.53      OM
531         erzin      36.96      36.20      TR
546        gwadar      25.12      62.33      PK

In [8]:
# Setting up the parameters to determine the closest hotels within a 5 km radium (5000 m)

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Setting up the search parameters
params = {
    'type':'hotel',
    'keyword': 'hotel',
    'radius': 5000,
    'key': g_key
}

# We will be itterating through the rows in order to hotels within the defined radius of the coordinates of each city
print(f'Data retrival in progress')
for index, row in hotel_df.iterrows():
    latitude = row['Lattitude']
    longitude = row['Longitude']
    city = row['City']

    # Now that the latitude and longitude has been defined, these need to be added to the dictionary

    params['location'] = f'{latitude},{longitude}'

    
    response = requests.get(base_url, params=params).json()

    search_results = response['results']

    try:
        print(f'Finding nearest hotel for {city}\n--------------------------')
        hotel_df.loc[index, 'Hotel Name'] = search_results[0]['name']
    
    except (KeyError, IndexError):
        print(f'There are no Hotels for {city}, moving on to the next city....')


print('End of Data Retreival\n*********************')
print(f'Removing cities where hotels could not be retreived')
hotel_df = hotel_df[hotel_df['Hotel Name']!=""]

Data retrival in progress
Finding nearest hotel for rikitea
--------------------------
Finding nearest hotel for avarua
--------------------------
Finding nearest hotel for halvad
--------------------------
Finding nearest hotel for wajid
--------------------------
Finding nearest hotel for abu dhabi
--------------------------
Finding nearest hotel for saint-louis
--------------------------
There are no Hotels for saint-louis, moving on to the next city....
Finding nearest hotel for manokwari
--------------------------
Finding nearest hotel for hit
--------------------------
There are no Hotels for hit, moving on to the next city....
Finding nearest hotel for bolpur
--------------------------
Finding nearest hotel for portland
--------------------------
Finding nearest hotel for kalmunai
--------------------------
Finding nearest hotel for dalbandin
--------------------------
Finding nearest hotel for atar
--------------------------
Finding nearest hotel for sakakah
--------------------------
Finding nearest hotel for gat
--------------------------
There are no Hotels for gat, moving on to the next city....
Finding nearest hotel for tessalit
--------------------------
There are no Hotels for tessalit, moving on to the next city....
Finding nearest hotel for abnub
--------------------------
There are no Hotels for abnub, moving on to the next city....
Finding nearest hotel for katsuura
--------------------------
Finding nearest hotel for hun
--------------------------
Finding nearest hotel for khorramshahr
--------------------------
Finding nearest hotel for guarapari
--------------------------
Finding nearest hotel for abu samrah
--------------------------
Finding nearest hotel for safaga
--------------------------
Finding nearest hotel for tefe
--------------------------
Finding nearest hotel for kiama
--------------------------
Finding nearest hotel for parauna
--------------------------
Finding nearest hotel for tahta
--------------------------
Finding nearest hotel for nouadhibou
--------------------------
Finding nearest hotel for sur
--------------------------
Finding nearest hotel for erzin
--------------------------
Finding nearest hotel for gwadar
--------------------------
End of Data Retreival
*********************
Removing cities where hotels could not be retreived

In [9]:
# Results of the Hotel Search
hotel_df

,City,Lattitude,Longitude,Country,Hotel Name
14,rikitea,-23.12,-134.97,PF,Pension Maro'i
32,avarua,-21.21,-159.78,CK,The Rarotongan Beach Resort & Lagoonarium
39,halvad,23.02,71.18,IN,Hotel New Parishram
66,wajid,3.81,43.25,SO,Hotel Haji Aden Yare
69,abu dhabi,24.60,72.70,IN,WelcomHeritage Connaught House Mount Abu
116,manokwari,-0.87,134.08,ID,Swiss Belhotel Manokwari
123,bolpur,23.67,87.72,IN,The Garden Bungalow - Best Luxury Home Stay in...
174,portland,45.52,-122.68,US,DoubleTree by Hilton Hotel Portland
195,kalmunai,7.42,81.82,LK,LUXEZ garden house
219,dalbandin,28.89,64.41,PK,Al-Dawood Hotel & Restaurant
220,atar,20.52,-13.05,MR,Odar kanawal
235,sakakah,29.97,40.21,SA,Raoum Inn Hotel
299,katsuura,35.13,140.30,JP,Splash Guest House
325,hun,29.13,15.95,LY,Alrwasi Hotel
335,khorramshahr,30.44,48.17,IR,Hostel
361,guarapari,-20.67,-40.50,BR,Blue Guarapari
365,abu samrah,24.60,72.70,IN,WelcomHeritage Connaught House Mount Abu
370,safaga,26.73,33.94,EG,Lamar Resort Abu Soma
384,tefe,-3.35,-64.71,BR,Stylos Hall Hotel
413,kiama,-34.68,150.87,AU,The Sebel Kiama Harbourside
424,parauna,-16.95,-50.45,BR,Hotel Serras de Paraúna
447,tahta,26.77,31.50,EG,El Salam Hotel
467,nouadhibou,20.93,-17.03,MR,Free Zone Hotel Nouadhibou
477,sur,22.57,59.53,OM,Sur Plaza Hotel
531,erzin,36.96,36.20,TR,Hattusa Vacation Thermal Club Erzin
546,gwadar,25.12,62.33,PK,Zaver Pearl Continental Hotel

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lattitude", "Longitude"]]

In [12]:
# Add marker layer ontop of heat map
hotel_marker = gmaps.marker_layer(locations, info_box_content=hotel_info)

# We will add the new layer to the previous humidity heatmap
fig.add_layer(hotel_marker)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))